body{
    text-align: center;
    color: Orange;
}
.Rama_Cabecera{
    background-color: aqua;
    align-items: center;
    align-self: center;
    
}

.container{
background-color: deeppink;
align-items: center;
align-self: center;
padding: 10rem;
border: solid 30px blueviolet;
}